@import "../../styles/global.scss";

.show-user-container {
  margin-bottom: 4rem;

  .show-user-title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 4rem;
    font-size: 2rem;
    color: $gray-800;

    img {
      margin-right: 2rem;
      height: 3rem;
    }
  }

  .show-user-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;

    background: $white;
    color: $gray-800;
    border: 1px solid $white-line;
    border-radius: 2rem;

    padding: 3rem;
    max-width: 500px;
    margin: 0 auto;

    p,
    a {
      font-size: 1rem;
      text-align: center;
    }

    a:hover {
      text-decoration: underline;
    }

    .go-to-github {
      width: 50%;
      padding: 0.8rem;

      border: none;
      border-radius: 5px;

      background: $blue;
      color: $white-bg;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }

      a {
        text-decoration: none;
      }
    }

    img {
      width: 14rem;
      border-radius: 50%;

      border: 2px solid $blue;
    }

    .spans {
      display: flex;
      gap: 1rem;

      span {
        color: $blue;
      }
    }
  }
}
