// Color Variables
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  font: 16px "Roboto", Arial, sans-serif;
  color: #121214;
  background-color: $white;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
