@import "../../styles/global.scss";

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $blue;
  border-top: 1px solid $white-line;
  padding: 2rem;

  p {
    margin: 0 auto;
    color: $white;
  }

  img {
    height: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}
